<table class="calendar">
  <thead>
    <tr>
      <% t('date.day_names').each do |day| %>
        <th><%= day.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <% week.each do |day| %>
          <td><%= l day, format: '%d %b' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
