.calendar {
  margin: auto;

  th {
    background: lightblue;
  }

  td {
    width: 12vw;
    max-width: 5em;
    height: 5em;
    background: lightgreen;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}
